@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@model CrawlerViewModel
@{
    ViewData["Title"] = "About";
}

<p></p>
<div class="row">

    @using (Html.BeginForm("About", "Home", null, FormMethod.Post))
    {
        <input id="url" name="url" type="text" />
        <button>getir</button>
    }
</div>

@if (!string.IsNullOrEmpty(Model.HtmlDoc))
{
<div class="row">
    <div class="col-lg-3">
        @using (Html.BeginForm("SaveXpath", "Home"))
        { 
            <div id="xpath-list">
                @*@Html.DropDownList("xpaths",Model.MapTags.Select(c=>new SelectListItem(c,c)))*@
            </div>
            <button>Kaydet</button>
        }
    </div>
    <div class="col-lg-9" id="website">
       
        @Html.Raw(Model.HtmlDoc)
    </div>

</div>
@section Scripts {
    <script>
        var jsondatas="@JsonConvert.SerializeObject(Model.MapTags)";
    </script>
            <script src="~/js/XPathSelector.js"></script>
        }
        }

